= content_for :title do
  | markit! / #{params[:q]} / #{@page}
= render partial: 'bookmarks/list', locals: {bookmarks: @bookmarks, page: @page, last_page: @last_page, query: @query, page_link: ->(p:) { search_path(p: p) }}
