= content_for :title do
  | markit! / #{@category.name} / #{@page}
= render partial: 'bookmarks/list', locals: {bookmarks: @bookmarks, page: @page, last_page: @last_page, query: @query, page_link: ->(p:) { root_path(p: p) }}
